%center {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#story {
    @extend %center;
}
#next {
    align-items: center;
    margin: 0 auto;
    position: absolute;
    left: 44%;
    text-decoration: none;
    border: none;
    background-color: #1BA1E2;
    color: #eee;
    width: 160px;
    height: 72px;   
    font-size: 1.25rem;
    margin-top: 32px;
}
#wrapper {
    border-width:5px;  
    border-style:dashed;
    margin: 0 300px;
}
body {
    background-color: orange;
    
}